SECRET_KEY=<ek lambi random string — python -c "import secrets; print(secrets.token_urlsafe(50))" se generate karo>
DEBUG=True
ALLOWED_HOSTS=bhojrajsingh2310.pythonanywhere.com
CSRF_TRUSTED_ORIGINS=https://bhojrajsingh2310.pythonanywhere.com
